.allGallery #changePhoto{
transition: 1s;
width: 200px;
}

.allGallery #changePhoto:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

p {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 15px;    
}

form {
    width: 0%;
    margin: left auto;
    border: 1px;
    border-radius: 8px;
}